*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header{
  background-color: #000447;
  width: 100vw;
  display: flex;
}

header > img{
  display: flex;
  margin: 3px;
  height: 55px;
}


header > menu#options{
  padding: 15px;
  display: flex;
  width: 100vw;
  justify-content: space-between;
  
}


header > menu#options > div#botoes {
  width: 200px;
  justify-content: space-evenly;
}
header > menu#options > div#botoes > button#EscButton  {
  height: 20px;
}
header > menu#options > div#botoes > button#RemovButton {
background-color: red;
height: 20px;
}



header > menu#options > div#pesquisa {
  background-color: #383c4c;
  padding: 6px 10px;
  height: 25px;
  display: flex;
  align-items: center;
  gap: 6px;
  border-radius: 16px;
  cursor: pointer;
  margin: 5px;
}
header > menu#options > div#pesquisa > input[type=search]{
  height: 20px;
  border: none;
  background-color: transparent;
  color: white;
  font: 20px;
}
header > menu#options > div#pesquisa > img{

}
div#pesquisa input:focus-visible {
  outline: none;
}
