* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  div#optionsTeam {
    width: 25%;
    margin-bottom: 0;
  }
}

@font-face {
  font-family: 'Estadio';
  src: url(EA\ Logo.ttf);
}
@font-face {
  font-family: 'TituloH3';
  src: url(EASPORTS15.ttf);
}

body {
  background: url(estadio.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

header {
  background-color: #04090f;
  width: 100vw;
  display: flex;
}

header > menu#options {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

header > menu#options > div#choices > h3 {
  font-family: 'Estadio';
  color: white;
  align-items: center;
}

header > menu#options > div#choices {
  color: white;
  font-family: 'TituloH3';
  display: flex;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
}

header > menu#options > div#choices > a {
  color: white;
  padding-left: 30px;
  text-decoration: none;
  text-align: center;
}

header > menu#options > div#choices > a:hover {
  color: #cef560;
 font-size: 15px;
  text-decoration: underline #dc2165 2px;
}

header > menu#options > div#pesquisa {
  background-color: #383c4c;
  padding: 10px;
  height: 25px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
}

header > menu#options > div#pesquisa > input[type=search] {
  height: 20px;
  border: none;
  background-color: transparent;
  color: white;
  font: 20px;
}

div#pesquisa input:focus-visible{
  outline: none;
}

/* */




body > div#escalacao {
  display: block;
  height:700px;
  width: 900px;
  margin-left: 20%;
  margin-top: 5%;
 
}


div#optionsTeam{
  width: 500px;
  display: flex;
  background: linear-gradient(#3d4551, #323436);
  padding: 6px;
  margin: 10px 0px 3px ;
  border: 1px solid white;
  border-radius: 2px;
  justify-content:space-evenly;
}
div#optionsTeam > a{
  color: white;
  font-family: 'TituloH3';
  text-decoration: none;
}
div#optionsTeam > a:hover{
  color: #cef560;
  padding: 1px;
  font-size: 15px;
  text-decoration: underline #dc2165 3px;
  
}


body > div > div#team {
  width: 500px;
  height: 346px;
  display: flex;
  background: url(../imagens/campo.png), linear-gradient(#3d4551, #323436);
  border: 1px solid white;
  text-align: center;
 border-radius: 2px;
}
body > div > div#team > h3{
  font-family: 'TituloH3';
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: white;
  font-size: 1.3em;
  font-weight: bolder;
}

body > div > div#players {
  width: 400px;
  height: 600px;
  display: flex;
  background: linear-gradient(#3d4551, #323436) ;
  border: 1px solid white;
  border-radius: 5px;
}
body > div > div#players {
  width: 400px;
  height: 604px;
  display: block;
  margin: -604px 504px 500px ;
  background: linear-gradient(#3d4551, #323436) ;
  border: 1px solid white;
  text-align: center;
}
body > div > div#players > h3 {
  font-family: 'TituloH3';
  color: white;
  font-size: 1.3em;
  font-weight: bolder;
  width: 100%;
}
body > div > div#players > button {
  display: block;
  margin: 545px 0px 0px 340px;
  width: 50px;
  height: 30px;
  background: none;
  border: none;
  color: white;
  font-family: 'TituloH3';
}
body > div > div#players > button:hover {
  color: #cef560;
  padding: 1px;
  font-size: 15px;
  text-decoration: underline #dc2165 3px;
}



body > div > div#reservePlayers {
  width: 500px;
  height: 253px;
  margin: 5px 0px 0px 0px;
  background: linear-gradient(#3d4551, #323436);
  display: flex;
  border: 1px solid white;
}
body > div > div#reservePlayers > h3 {
  font-family: 'TituloH3';
  color: white;
  font-size: 1.3em;
  font-weight: bolder;
  width: 100%;
  padding: 2px;
  height: 30px;
text-align: center;
}
