/* Resetar estilos */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Consultas de mídia */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  div#optionsTeam {
    width: 25%;
    margin-bottom: 0;
  }
}

/* Faces de fontes */
@font-face {
  font-family: 'Estadio';
  src: url(fontes/EA\ Logo.ttf);
}
@font-face {
  font-family: 'TituloH3';
  src: url(fontes/EASPORTS15.ttf);
}

/* Estilos do corpo */
body {
  background: url(/ExEscalaçãoTime/estilos/imagens/background.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
}

/* Estilos do cabeçalho */
header {
  background-color: #031a08;
  width: 100vw;
  display: flex;
}

header > menu#options {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

header > menu#options > div#choices > h3 {
  font-family: 'Estadio';
  color: white;
  align-items: center;
}

header > menu#options > div#choices {
  color: white;
  font-family: 'TituloH3';
  display: flex;
  padding: 0px 5px 0px 5px;
  text-decoration: none;
}

header > menu#options > div#choices > a {
  color: white;
  padding-left: 30px;
  text-decoration: none;
  text-align: center;
}

header > menu#options > div#choices > a:hover {
  font-size: 15px;
  text-decoration: underline #dc2165 2px;
}

header > menu#options > div#pesquisa {
  background-color: white;
  padding: 10px;
  height: 25px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  cursor: pointer;
}

header > menu#options > div#pesquisa > input[type=search] {
  height: 20px;
  border: none;
  background-color: transparent;
  color: black;
  font: 20px;
}

div#pesquisa input:focus-visible{
  outline: none;
}

/* Estilos do conteúdo do corpo */
body > div#escalacao {
  display: block;
  height: 700px;
  width: 900px;
  margin-left: 20%;
  margin-top: 5%;
}

div#optionsTeam{
  width: 500px;
  display: flex;
  background: #04240b;
  padding: 5px;
  margin: 10px 0px 3px ;
  border: 1px solid white;
  border-radius: 2px;
  justify-content: space-evenly;
}

div#optionsTeam > a{
  color: white;
  font-family: 'TituloH3';
  text-decoration: none;
}

div#optionsTeam > a:hover{
  padding: 1px;
  font-size: 15px;
  text-decoration: underline #dc2165 3px;
}

body > div > div#team {
  width: 500px;
  height: 346px;
  display: flex;
  background: url(../estilos/imagens/campo.png), linear-gradient(#04240b, #04240b);
  border: 1px solid white;
  text-align: center;
  border-radius: 2px;
}



body > div > div#team > h4.goleiro {
  display: flex;
  rotate: 270deg;
  font-size: 18px;
  font-family: 'TituloH3';
  color: white;
}

.sBtn-text {
  font-family: 'TituloH3';
  cursor: pointer;
}

.select-menu .select-btn:hover{
  padding: 1px;
  font-size: 15px;
  text-decoration: underline #dc2165 3px;
}

.select-btn{
  color: white;
}

.select-menu .options{
  position: relative;
}

.select-menu.active .options {
  display: none;
}

.options .option{
  display: flex;
  margin: 30px 0px 0px 15px;
  color: rgb(255, 255, 255);
  font-family: 'TituloH3';
  cursor: pointer;
  align-items: center;
}

.options .option:hover{
  text-decoration: underline #dc2165 3px;
}

body > div > div#players {
  width: 400px;
  height: 600px;
  display: flex;
  background: #04240b;
  border: 1px solid white;
  border-radius: 5px;
}

body > div > div#players {
  width: 400px;
  height: 604px;
  display: block;
  margin: -604px 504px 500px ;
  background:#04240b;
  border: 1px solid white;
  text-align: center;
}

body > div > div#players > h3 {
  font-family: 'TituloH3';
  color: white;
  font-size: 1.3em;
  font-weight: bolder;
  width: 100%;
}

body > div > div#players > button {
  display: block;
  margin: 545px 0px 0px 340px;
  width: 50px;
  height: 30px;
  background: none;
  border: none;
  color: white;
  font-family: 'TituloH3';
}

body > div > div#players > button:hover {
  padding: 1px;
  font-size: 15px;
  text-decoration: underline #dc2165 3px;
}

body > div > div#reservePlayers {
  width: 500px;
  height: 253px;
  margin: 5px 0px 0px 0px;
  background: #04240b;
  display: flex;
  border: 1px solid white;
}

body > div > div#reservePlayers > h3 {
  font-family: 'TituloH3';
  color: white;
  font-size: 1.3em;
  font-weight: bolder;
  width: 100%;
  padding: 2px;
  height: 30px;
  text-align: center;
}
